@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply font-mono;
}
body {
  @apply dark:bg-slate-800 dark:text-slate-400;
}

/* COMPONENTS */
/* Headers */
h1, h2 {
  @apply font-light tracking-wide dark:text-slate-300;
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl;
}

/* Buttons */
.btn {
  @apply font-bold py-2 px-4;
}

/* Primary */
.btn-primary {
  @apply bg-primary-900 text-white hover:bg-primary-600 dark:text-slate-300 dark:bg-slate-600 dark:hover:bg-slate-700;
}
/* Secondary */
.btn-secondary {
  @apply border-b-2 border-primary-400 py-1 px-1 hover:bg-emerald-400 hover:text-white hover:border-transparent dark:text-slate-400 dark:border-slate-400 dark:hover:bg-emerald-600 dark:hover:text-slate-200 dark:hover:border-transparent;
}

/* fixing display for react-icons */
svg {
  display: inline-block;
  transform: translate(0px, -2px);
  overflow: visible;
}

.is-underlined {
  position: relative;
  padding-bottom: 5px;
}

.is-underlined::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  bottom: 1px;
  left: 0;
  @apply bg-emerald-300 dark:bg-emerald-600;
  clip-path: polygon(0% 3px, 100% 0%, 100% 100%, 0% 100%);
  z-index: -1;
}

.ipa-card, .ipa-card-clicked {
  @apply select-none font-serif p-6 text-center bg-primary-700 text-white text-3xl dark:text-slate-300 dark:bg-slate-600;
}

.ipa-card {
  @apply transition-colors hover:bg-primary-500 dark:hover:bg-slate-700 cursor-pointer
}

.ipa-card-clicked {
  @apply bg-emerald-400 dark:bg-emerald-600;
}

.ipa-card-clicked-text {
  @apply text-sm block h-0;
}

